version: '3'
services:
  python:
    build: ./python
    container_name: youtubechecker-app
    ports:
      - "5000:5000"
    environment:
      TZ: Asia/Tokyo
      FLASK_APP: myapp.py
    volumes:
      - ./app:/workspace/app
