{%- extends "layout.html" %}
{%- block content %}
<div class="card-group">
    <div class="card">
    <div class="card-header">
      About this site
    </div>
    <div class="card-body">
      <h5 class="card-title">What's the Youtube Checker？</h5>
      <p class="card-text">This is a web service that notify subscribers,views count and changes of specific Youtube channels</p>
    </div>
    <div class="card-footer text-muted">
      
    </div>
    </div>
    <div class="card">
    <div class="card-header">
        Line Official Account
      </div>
     <div class="card-body">
      <h5 class="card-title">LINE Official Account</h5>
      <p class="card-text">Plese Add Our Youtube Checker's official LINE account.</p>
      <a href="https://lin.ee/Jgd6Kbe" class="btn btn-outline-primary">Add Friend</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
</div>

  <div class="card">
    <div class="card-header">
      Developper
    </div>
    <div class="card-body">
      <h5 class="card-title">Developper's Youtube channel</h5>
      <p class="card-text">Please subscribe my Youtube channel <strong>shipweb</strong>!</p>
      <a href="https://www.youtube.com/channel/UCne2IBkAj3JoyzNAOzXxKMg" class="btn btn-outline-primary">shipweb Youtube channel</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
</div>
<div class="card-group">
    <div class="card">
    <div class="card-header">
      このサイトについて
    </div>
    <div class="card-body">
      <h5 class="card-title">Youtube Checkerとは？</h5>
      <p class="card-text">Youtubeチャンネルの登録者数を一日一回LINE Notifyで通知するWebサービスです。</p>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        LINE 公式アカウント
      </div>
     <div class="card-body">
      <h5 class="card-title">LINE 公式アカウント</h5>
      <p class="card-text">Youtube CheckerのLINE公式アカウントにもぜひ友達登録してください！</p>
      <a href="https://lin.ee/Jgd6Kbe" class="btn btn-outline-primary">友達登録する</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
</div>

  <div class="card">
    <div class="card-header">
      開発・運営者について
    </div>
    <div class="card-body">
      <h5 class="card-title">開発者のYoutubeチャンネル</h5>
      <p class="card-text">開発者のYoutubeチャンネル「shipweb」も是非よろしくお願いします！</p>
      <a href="https://www.youtube.com/channel/UCne2IBkAj3JoyzNAOzXxKMg" class="btn btn-outline-primary">shipweb Youtubeチャンネル</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
</div>
{%- endblock %}