{%- extends "layout.html" %}
{%- block content %}
<table class="table">
    <tr>
        <th scope="row">User id</th>
        <td>{{current_user.id}}</td>
    </tr>
    <tr>
        <th scope="row">Name</th>
        <td>{{current_user.name}}</td>
    </tr>
    <tr>
        <th scope="row">Profile picture</th>
        <td><img src="{{current_user.profile_pic}}" class="img-thumbnail" width=120></td>
    </tr>
    <tr>
        <th scope="row">Notify time</th>
        <td>{{data.push_time}} <a href="{{ url_for('pushtime')}}" class="btn btn-outline-primary mb-2"><i class="bi bi-clock-fill"></i> Update</a></td>
    </tr>  
</table>
<a href="{{ url_for('account_delete')}}" class="btn btn-outline-danger btn-lg btn-block"><i class="bi bi-trash-fill"></i> Delete Account</a><br>
{%- endblock %}