{%- extends "layout.html" %}
{%- block content %}
{% if mes %}
<div class="alert alert-primary" role="alert">
    {{ mes }}
</div>
{% endif %}
<form action="{{url_for('channeledit')}}" method="POST">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Channel ID or URL list (1 id per 1 line)</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name=lists>{{ data }}</textarea>
        (max: 50 ids)
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%- endblock %}