{%- extends "layout.html" %}
{%- block content %}
{% if err_msg %}
<div class="card">
	<div class="card-header">
	  Error
	</div>
	<div class="card-body">
		{% for err in err_msg %}
		<p class="card-text">{{err}}</p>
		{% endfor %}
	</div>
  </div>
{% endif %} 
  <table class="table table-bordered table-striped">
	<!-- table header -->
	{% if data %}
	<thead>
	<tr>
	   <th scope="col"> Channel Name </th>
	   <th scope="col"> Subscriber </th>
	   <th scope="col"> View </th>
	   <th scope="col"> Video </th>
	   <!--<th scope="col"> Comment </th>//-->
	   <th scope="col">CSV</th>
	   <th scope="col">Link</th>
	   <th scope="col">Del</th>
	</tr>
	</thead>
	{% endif %}
	<tbody>
	<!-- table rows -->
	{% for dict_item in data %}
	<tr>
	   <td><a href="{{ url_for('channel', channelid=dict_item['channelid'])}}">{{ dict_item['title'] }}</a></td>
	   <td> {{ "{:,}".format(dict_item['subscriberCount'] | int) }} ({{dict_item['subscriberChange'] | formatchange}})</td>
	   <td> {{ "{:,}".format(dict_item['viewCount'] | int) }} ({{dict_item['viewChange'] | formatchange}})</td>
	   <td> {{ "{:,}".format(dict_item['videoCount'] | int) }} ({{dict_item['videoChange'] | formatchange}})</td>
	   <!--<td> {{ "{:,}".format(dict_item['commentCount'] | int) }} </td>//-->
	   <td><a href="{{ url_for('download', channelid=dict_item['channelid'])}}">CSV</a></td>
	   <td><a href="https://www.youtube.com/channel/{{ dict_item['channelid'] }}">Youtube</a><br></td>
	   <td><a href="{{ url_for('channellist', delid=dict_item['channelid'])}}" class="btn btn-outline-secondary btn-block">DEL</a></td>
	</tr>
	{% endfor %}
	</tbody>
  </table>
  <div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{list_percent}}%;" aria-valuenow="{{list_percent}}" aria-valuemin="0" aria-valuemax="100">{{data|count}} / {{max_list_cnt}}</div>
</div>
<form action="{{url_for('channellist')}}" method="POST" class="form-inline">
    <div class="form-group  mb-2">
        <label for="exampleFormControlTextarea1">Add new channel ID/URL (1 id per 1 line)</label>
	</div>
	<div class="form-group mx-sm-3 mb-2">
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="1" cols=45  placeholder="Channel ID" name=lists></textarea>
  </div>
  <button type="submit" class="btn btn-outline-primary mb-2">Add</button>
</form>


{% if session.newregister != 1 %}
  <a href="{{ url_for('download', channelid='channels')}}" class="btn btn-outline-primary btn-lg btn-block">Channels CSV Download</a><br>
  <a href="{{ url_for('docheck')}}" class="btn btn-outline-secondary btn-lg btn-block">Do check at once</a><br>
{% endif %}
{%- endblock %}