{%- extends "layout.html" %}
{%- block content %}
<table class="table table-bordered table-striped">
	<!-- table header -->
	{% if data %}
	<thead>
	<tr>
	   <th scope="col"> Channel Name </th>
	   <th scope="col"> Subscriber </th>
	   <th scope="col"> View </th>
	   <th scope="col"> Video </th>
	   <th scope="col"> Comment </th>
	   <th scope="col">CSV</th>
	   <th scope="col">Link</th>
	</tr>
	</thead>
	{% endif %}
	<tbody>
	<!-- table rows -->
	{% for dict_item in data %}
	<tr>
	   <td><a href="{{ url_for('channel', channelid=dict_item['channelid'])}}">{{ dict_item['title'] }}</a></td>
	   <td> {{ "{:,}".format(dict_item['subscriberCount'] | int) }} </td>
	   <td> {{ "{:,}".format(dict_item['viewCount'] | int) }} </td>
	   <td> {{ "{:,}".format(dict_item['videoCount'] | int) }} </td>
	   <td> {{ "{:,}".format(dict_item['commentCount'] | int) }} </td>
	   <td><a href="{{ url_for('download', channelid=dict_item['channelid'])}}">CSV</a></td>
	   <td><a href="https://www.youtube.com/channel/{{ dict_item['channelid'] }}">Youtube</a><br></td>
	</tr>
	{% endfor %}
	</tbody>
  </table>

{%- endblock %}