{%- extends "layout.html" %}
{%- block content %}
<div class="float-right">
<select class="selectpicker" id=select_order>
	{% for order_item in order.list %}
		<option value='{{order_item.val}}' {% if loop.index0 == order.order %}selected{% endif %}>{{order_item.title}}</option>
	{% endfor %}
</select>
</div>
<table class="table table-bordered table-striped">
	<!-- table header -->
	{% if data %}
	<thead>
	<tr>
	   <th scope="col"> Channel Name </th>
	   <th scope="col"> Subscriber </th>
	   <th scope="col"> View </th>
	   <th scope="col"> Video </th>
	   <!--<th scope="col"> Comment </th>//-->
	   <th scope="col">CSV</th>
	   <th scope="col">Link</th>
	</tr>
	</thead>
	{% endif %}
	<tbody>
	<!-- table rows -->
	{% for dict_item in data %}
	<tr>
	   <td><a href="{{ url_for('channel', channelid=dict_item['channelid'])}}">{{ dict_item['title'] }}</a></td>
	   <td> {{ "{:,}".format(dict_item['subscriberCount'] | int) }} ({{dict_item['subscriberChange'] | formatchange}})</td>
	   <td> {{ "{:,}".format(dict_item['viewCount'] | int) }} ({{dict_item['viewChange'] | formatchange}})</td>
	   <td> {{ "{:,}".format(dict_item['videoCount'] | int) }} ({{dict_item['videoChange'] | formatchange}})</td>
	   <!--<td> {{ "{:,}".format(dict_item['commentCount'] | int) }} </td>//-->
	   <td><a href="{{ url_for('download', channelid=dict_item['channelid'])}}" class="btn btn-outline-success btn-block"><i class="bi bi-file-spreadsheet-fill"></i></a></td>
	   <td><a href="https://www.youtube.com/channel/{{ dict_item['channelid'] }}" class="btn btn-outline-danger btn-block"><i class="bi bi-youtube"></i></a></td>
	</tr>
	{% endfor %}
	</tbody>
  </table>
  <div class="float-left">
	  {{ pager.page * pager.num + 1 }} - {% if pager.page * pager.num + pager.num < pager.num_all %}{{ pager.page * pager.num + pager.num }}{% else %}{{ pager.num_all }}{% endif %}  of {{ pager.num_all }} 
  </div>
  <div class="float-right">
  <nav aria-label="Page navigation footer">
	<ul class="pagination justify-content-center">
	  <li class="page-item {% if not pager.page %}disabled{% endif %}">
		{% set param = {} %}
		{% if not pager.page - 1 == 0 %}
			{% set x=param.__setitem__('page',pager.page - 1) %}
		{% endif %}	
		{% if not order.order == 0 %}
			{% set x=param.__setitem__('order',order.order) %}
		{% endif %}
		{% if pager.page %}<a class="page-link" href="{{ url_for('main', **param )}}" ><i class="bi bi-arrow-left"></i></a>{% else %}<a class="page-link" herf="#" tabindex="-1"><i class="bi bi-arrow"></i></a>{% endif %}
	  </li>

	  {% for page_item in pager.list %}
	  	{% if pager.page_max == page_item and pager.page_max_ommit %}
	  		<li><span>...</span></li>
		{% endif %}	  	
		{% if pager.page == page_item %}
			<li class="page-item active"><span class="page-link">{{page_item+1}}</span><span class="sr-only">(current)</span></li>
		{% else %}
		{% set param = {} %}
		{% if not page_item == 0 %}
			{% set x=param.__setitem__('page',page_item) %}
		{% endif %}	
		{% if not order.order == 0 %}
			{% set x=param.__setitem__('order',order.order) %}
		{% endif %}	
					<li class="page-item"><a class="page-link" href="{{ url_for('main', **param )}}">{{page_item+1}}</a></li>
		{% endif %}
		{% if pager.page_min == page_item and pager.page_min_ommit %}
			  <li><span>...</span></li>
		{% endif %}
	  {% endfor %}

	  <li class="page-item {% if pager.page == pager.page_max %}disabled{% endif %}">
		{% set param = {} %}
		{% set x=param.__setitem__('page',pager.page + 1) %}
		{% if not order.order == 0 %}
			{% set x=param.__setitem__('order',order.order) %}
		{% endif %}
		{% if pager.page < pager.page_max %}
			<a class="page-link" href="{{ url_for('main', **param )}}"><i class="bi bi-arrow-right"></i></a>
		{% else %}
			<a class="page-link" herf="#" tabindex="-1"><i class="bi bi-arrow-right"></i></a>
		{% endif %}
	  </li>
	</ul>
  </nav>
</div>
  <script>
	jQuery(function($){
        $('#select_order').change(function() {
            location.href = "{{ url_for('main')}}" + "?order=" + $('#select_order').prop("selectedIndex");
        });
    });
  </script>
{%- endblock %}