{%- extends "layout.html" %}
{%- block content %}
<form action="{{url_for('pushtime')}}" method="POST" class="form-inline">
    <div class="form-group  mb-2">
        <label for="select1a"><i class="bi bi-clock-fill"></i> Set time to notify you</label>
	</div>
	<div class="form-group mx-sm-3 mb-2">
		<select  class="selectpicker" data-width="fit" id="select1a" name=hour>
            {% for i in range(24) %}
                <option value='{{  "{:02}".format(i)  }}' {% if "{:02}".format(i)==data.hour %}selected{% endif %}>{{"{:02}".format(i)}}</option>
            {% endfor %}
        </select>&nbsp;:&nbsp;
		<select  class="selectpicker" data-width="fit" id="select1a" name=min>
            {% for i in range(60) %}
                <option value='{{  "{:02}".format(i)  }}' {% if "{:02}".format(i)==data.min %}selected{% endif %}>{{"{:02}".format(i)}}</option>
            {% endfor %}
        </select>        
  </div>
  <button type="submit" class="btn btn-outline-primary mb-2">Update</button>
</form>
{%- endblock %}